[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-crispy-forms = "==1.14.0"
crispy-bootstrap4 = "*"
pillow = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.11"
